* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
  }
  

:root {
    --primary-color : rgba(212, 216, 219, 0.616);
    --button-colot : #0080ff;
    --button-colot-hover : #333;;
}


  .head_Section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .child_card_center {
    width: 50%;
  }
  
  .card {
    background-color: var(--primary-color);
    height: 60vh;
    margin: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-group {
    width: 80%;
  }
  
  form {
    margin-top: 20px;
  }
  
  input {
    border: none;
    outline: none;
    background: none;
    display: block;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
    height: 36px;
    color: #0e0808;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    background: var(--button-colot);
    margin-top: 20px;
  }
  
  button:hover {
    background-color: var(--button-colot-hover);
  }
  
  .Register_link {
    margin-top: 2rem;
  }
  
  p {
    color: #333;
    font-family: Cocogoose;
    font-size: 13px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    text-align: center;
    align-items: center;
  }
  
  label {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }
  

  @media (max-width: 768px) { /* Responsif untuk perangkat dengan lebar maksimal 768px, misalnya smartphone */
    .child_card_center {
      width: 90%; /* Mengurangi lebar agar sesuai dengan smartphone */
    }
  
    .card {
      margin: 10px; /* Mengurangi margin agar muat di layar kecil */
    }
  }