* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: start;
  width: 100%;
}



  /* productCatalog.css */
.product-catalog {
    width: 100%;
    max-width: 1300px; /* Contoh lebar maksimum */
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .catalog-grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  }
  
  .catalog-item {
    background-color: #f0f0f0;
    padding: 60px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  
  .images_product {
    width: 100%;
    height: 16em;
    object-fit: cover;
  }

  .catalog-item >  button {
    border: none;
    outline: 0;
    padding: 2px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
    .name_product {
        text-align: start;
    }
    .price {
        text-align: start;
    }
    .desc {
        text-align: start;
    }